header {
  display: flex;
  align-items: center;
}
h1 {
  text-transform: capitalize;
  margin-right: 10px;
}
.icon {
  cursor: pointer;
}

form {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
input {
  font-size: 1rem;
}
input#price {
  width: 50px;
}

.price,
.cat {
  color: blueviolet;
}
