<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/css/general.css">
  <title>Create New Product</title>
</head>

<body>
  <h1>Create New Product</h1>
  <form method="POST" action="/products">
    <section>
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" />
    </section>
    <section>
      <label for="price">Price: </label>
      <input type="number" name="price" id="price" min="0" />
    </section>
    <section>
      <label for="cat">Category: </label>
      <input type="text" name="cat" id="cat" />
    </section>
    <button>Go</button>
  </form>
  <script src="/js/create-product.js"></script>
  <footer>
    <a href="/products">All Products</a>
  </footer>
</body>

</html>